Package: lg4l-linux
Source: lg4l
Version: 0.1-0ubuntu1~ppa1n
Architecture: all
Maintainer: Brett Smith <tanktarta@blueyonder.co.uk>
Installed-Size: 88
Depends: lg4l-dkms
Section: unknown
Priority: optional
Homepage: https://github.com/ali1234/lg4l
Description: Logitech G series drivers
 Kernel driver for a range of Logitech G series keyboards, including
 the G13, G15, G19 and G110.
 046d:c229	Logitech G19
 046d:c222	Logitech G15 (version 1)
 046d:c227	Logitech G15 (version 2)
 046d:c21c	Logitech G13
 .
 This package includes the minimal Linux specific userspace parts: udev
 configuration, a service script (to work around a bug)
