Source: gnome15-systemtray
Section: gnome
Priority: optional
Maintainer: Brett Smith <tanktarta@blueyonder.co.uk>
Build-Depends: cdbs (>=0.4.73), debhelper (>= 7), autotools-dev, python-support, gnome15, python-dev
Standards-Version: 3.8.4
Homepage: http://www.tanktarta.pwp.blueyonder.co.uk/gnome15/

Package: gnome15-systemtray
Architecture: all
Depends: ${misc:Depends}, ${python:Depends}, gnome15
Provides: ${python:Provides}
Description: A system tray icon for controlling and monitoring Gnome15.
 The icon can be used to select the currently visible screen,
 as well as launch the configuration user interface. 