Source: gnome15-impulse15
Section: gnome
Priority: optional
Maintainer: Brett Smith <tanktarta@blueyonder.co.uk>
Build-Depends: cdbs (>=0.4.73), debhelper (>= 7), autotools-dev, python-support, gnome15, libpulse-dev, libfftw3-dev, python-dev
Standards-Version: 3.8.4
Homepage: http://www.tanktarta.pwp.blueyonder.co.uk/gnome15/

Package: gnome15-impulse15
Architecture: any
Depends: ${misc:Depends}, ${python:Depends}, gnome15, libfftw3-3, libpulse0
Provides: ${python:Provides}
Description: Adds a spectrum Analyser to Gnome15
 Based on the "Impulse" screenlet, this package adds an
 additional plugin to Gnome15 that displays a spectrum 
 analyser hooked up Pulse Audio.
