Makefile
Makefile.in
config.log
config.status
gnome15-*.tar.gz
py-compile
compile
missing
install-sh
autom4te.cache
configure
GNOME_G15Applet.server
g15-config.desktop
g15-macros.desktop
gnome15.desktop
ltoptions.m4
ltsugar.m4
ltversion.m4
lt~obsolete.m4
aclocal.m4
libtool.m4
*.o
*.la
*.lo
.deps
*.pyc
ltmain.sh
libtool
depcomp
config.sub
config.guess
src/pylibg19/dist
src/pylibg19/MANIFEST
src/pylibg19/build
.libs
en_GB
data/udev/*.rules
src/gnome15/g15globals.py
src/indicator/g15-indicator.desktop
