Makefile
Makefile.in
config.log
config.status
gnome15-*.tar.gz
py-compile
compile
missing
install-sh
autom4te.cache
configure
GNOME_G15Applet.server
g15-config.desktop
g15-macros.desktop
gnome15.desktop
ltoptions.m4
ltsugar.m4
ltversion.m4
lt~obsolete.m4
aclocal.m4
libtool.m4
*.o
*.la
*.lo
.deps
*.pyc
ltmain.sh
gnome15-java-bindings/*/target
libtool
depcomp
config.sub
config.guess
gnome15/pylibg19/dist
gnome15/pylibg19/MANIFEST
gnome15/pylibg19/build
*.kdev4
gnome15-kde-plugins/window-thumbnail/build
.libs
en_GB
gnome15/src/udev/*.rules
gnome15/src/main/python/gnome15/g15globals.py
