[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=Logitech G Keyboard Tray Icon
Name[fr]=Clavier Logitech G Icône System Tray
Name[it]=Logitech G Keyboard Tray Icon di sistema
Icon=gnome15
Comment=Tray icon allowing control and monitor of the Gnome15 desktop service for Logitech G keyboards.
Comment[fr]=Icône permet de contrôler et de surveiller le service Gnome15 bureau pour les claviers Logitech G.
Comment[it]=Tray icon che consente il controllo e il monitoraggio del servizio Gnome15 desktop per tastiere Logitech G.
Exec=g15-systemtray
Terminal=false
Type=Application
Categories=TrayIcon;GTK
GenericName=
#X-GNOME-Autostart-Delay=0
#AutostartCondition=GNOME /desktop/gnome/gnome15/enabled
#X-GNOME-Autostart-Phase=Applications
#X-GNOME-AutoRestart=true
#X-Ubuntu-Gettext-Domain=gnome15
