[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=Logitech G Keyboard Tray Icon
Icon=gnome15
Comment=Tray icon allowing control and monitor of the Gnome15 desktop service for Logitech G keyboards.
Exec=g15-systemtray
Terminal=false
Type=Application
Categories=
GenericName=
#X-GNOME-Autostart-Delay=0
#AutostartCondition=GNOME /desktop/gnome/gnome15/enabled
#X-GNOME-Autostart-Phase=Applications
#X-GNOME-AutoRestart=true
#X-Ubuntu-Gettext-Domain=gnome15
