h1, h2, h3, h4 {
	color: blue;
}

body {
	width: 800px;
	background-color: white;
	color: black;
	margin-left: auto;
	margin-right: auto;
	font-family: "Arial";
}

#header {
	text-align: center;
}

#toolbar {
	color: white;
	background-color: black;
	width: 100%;
	height: 2em;
	font-weight: bold;
}

#toolbar ul a, #toolbar ul a:visited {
	color: white;
	text-decoration: none;
}

#toolbar ul a:hover {
	color: blue;
}


#toolbar ul {
	margin: 0px;
	padding-top: 6px;
	padding-right: 10px;
}

#toolbar li {
	float: left;
	margin: 0px;
	padding-right: 10px;
	list-style: none;
}

#subtoolbar {
	color: white;
	background-color: gray;
	width: 100%;
	font-weight: bold;
	height: 1.6em;
	font-size: small;
}

#subtoolbar ul a, #subtoolbar ul a:visited {
	color: white;
	text-decoration: none;
}

#subtoolbar ul a:hover {
	color: blue;
}


#subtoolbar ul {
	margin: 0px;
	padding-top: 2px;
	padding-right: 10px;
}

#subtoolbar li {
	float: left;
	margin: 0px;
	padding-right: 10px;
	list-style: none;
}

#plugins {
	float: left;
}

.leftscreenshots {
	float: left;
	margin: 1em 2em 1em 1em;
}

.rightscreenshots {
	margin: 1em 1em 1em 2em;
	float: right;
}

.rightscreenshots img {
}

.g15lcd {
	border: 1px solid black;
	margin: 4px;
	insets: 4px;
	height: 51px;
	width: 160px;
	vertical-align: middle;
}

.g19lcd {
	border: 1px solid black;
	margin: 4px;
	insets: 4px;
	height: 120px;
	vertical-align: middle;
	width: 160px;
}

.section {
	margin: 16px;
}

.clear {
	height: 0px;
	clear: both;
}

.versiontext {
	padding-top: 2px;
	font-size: small;
}

.plugin_label {
	vertical-align: top;
	font-size: small;
}

.plugin_details {
	vertical-align: top;
	font-size: small;
	font-weight: bold;
}

.plugin_image, .plugin_image_g15 {
	margin: 1em;
	float: right;
	clear: right;
}

.warning {
	font-size: small;
	font-style: italic;
}

hr {
	clear: both;
}

.plugin_image_g15 {
	border: 1px solid black;
}