Source: gnome15
Section: gnome
Priority: optional
Maintainer: Brett Smith <tanktarta@blueyonder.co.uk>
Build-Depends: cdbs, debhelper (>= 7), autotools-dev, python-support, python-gobject, python-gtk2, python-gtk2-dev, python-dbus, python-cairo (>= 1.8.3), python-lxml, python-imaging, python-alsaaudio, python-feedparser, python-rsvg, python-xdg, pkg-config, python-xlib, pyinputevent, python-pyinotify
Standards-Version: 3.8.4
Homepage: http://www.gnome15.org/

Package: gnome15
Architecture: all
Depends: ${python:Depends}, python-gobject, python-gtk2, python-dbus, python-cairo, python-lxml, python-imaging, python-alsaaudio, python-feedparser, python-rsvg, cairo-clock, python-xlib, libgtk2.0-bin, python-pyinotify, bamfdaemon 
Recommends: gnome15-g19d | gnome15-g15daemon | gnome15-gtk | gnome15-kernel | gnome15-g19direct
Suggests: python-setproctitle
Provides: ${python:Provides}
Description: Desktop service for the Logitech "G" keyboards
 This is the core of Gnome15, which provides macro handling, a
 configuration GUI and a plugin framework for the Logitech G 
 series keyboards.  The intention is to provide the best 
 integration with the GNOME desktop possible, using the
 standard protocols and libraries where possible.

Package: gnome15-g15daemon
Architecture: all
Depends: ${python:Depends}, gnome15, g15daemon (>= 1.9.5.4)
Provides: ${python:Provides}
Description: Adds support for the Logitech G15 to Gnome15
 Gnome15 driver for the Logitech G15, making use of
 g15aemon.
 
Package: gnome15-g19d
Architecture: all
Depends: ${python:Depends}, gnome15, g19d
Provides: ${python:Provides}
Description: Adds support for the Logitech G19 to Gnome15
 Gnome15 driver for the Logitech G19, making use of
 G19D. NOTE: This driver is deprecated. It is recommended
 you use the gnome15-g19direct driver instead.
 
Package: gnome15-g19direct
Architecture: all
Depends: ${python:Depends}, gnome15, pylibg19
Provides: ${python:Provides}
Description: Adds support for the Logitech G19 to Gnome15
 Gnome15 driver for the Logitech G19, making use of
 PyLibG19.
 
Package: gnome15-gtk
Architecture: all
Depends: ${python:Depends}, gnome15
Provides: ${python:Provides}
Description: GTK Logitech keyboard emulator driver 
 Special driver that emulates the G13, G15v1, G15v2 and
 G19 as a window on your desktop. Allows development of
 plugins and themes without access to real hardware.

Package: gnome15-kernel
Architecture: all
Depends: ${python:Depends}, gnome15, pyinputevent, lgsetled
Provides: ${python:Provides}
Description: Gnome15 Kernel driver
 Requires ali1234's kernel drivers. No additional processes
 need be running. Supports G13, G15 and G19

