[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=KCModule

X-KDE-Library=kcm_kwin4_effect_gnome15thumbw
X-KDE-ParentComponents=kwin4_effect_gnome15thumbw
X-KDE-PluginKeyword=gnome15thumbw

Name=Logitech window thumbnail 

