Package: gnome15-ubuntu
Architecture: all
Version: 0.5.0
Depends: ${python:Depends}, gnome15, gnome15-impulse15, gnome15-indicator, gnome15-mono-icons, gnome15-accessibility-icons, gnome15-gnome-plugins
Provides: ${python:Provides}
Description: Meta-package for Gnome15 
 Gnome15 is a suite of tools for Logitech "G" keyboards. This
 packages depends on all other required for the best experience
 on Ubuntu.