[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=Gnome15
Icon=gnome15
Comment=Logitech G series keyboard GNOME integration.
Exec=g15-indicator
Terminal=false
Type=Application
Categories=
GenericName=
X-GNOME-Autostart-Delay=8
#AutostartCondition=GNOME /desktop/gnome/gnome15/enabled
#X-GNOME-Autostart-Phase=Applications
#X-GNOME-AutoRestart=true
#X-Ubuntu-Gettext-Domain=gnome15
