Package: @appname@
Version: [[version]]
Section: misc
Priority: optional
Architecture: all
Depends: python, python-gtk2, g15daemon
Maintainer: Brett Smith <tanktarta@blueyonder.co.uk>
Description: GNOME Applet for the Logitech G15 keyboard
Python-Version: >= 2.6
Priority: optional
XS-Python-Version: >= 2.6
XB-Python-Version: >= 2.6