Source: gnome15-plugins
Section: gnome
Priority: optional
Maintainer: Brett Smith <tanktarta@blueyonder.co.uk>
Build-Depends: cdbs (>=0.4.73), debhelper (>= 7), autotools-dev, python-support, python-gtk2, python-gtk2-dev, gnome15, python-gnome2, python-gnomekeyring, python-vobject, python-evolution, python-opencv
Standards-Version: 3.8.4
Homepage: http://www.gnome15.org/

Package: gnome15-base-plugins
Architecture: all
Depends: ${misc:Depends}, ${python:Depends}, gnome15, python-gnome2, python-opencv
Recommends: cairo-clock
Provides: ${python:Provides}
Description: Base collection of plugins for Gnome15.
 This package contains all Gnome15 plugins that work across all supported platforms.

Package: gnome15-gnome-plugins
Architecture: all
Depends: ${misc:Depends}, ${python:Depends}, gnome15, python-gnomekeyring, python-gnome2, python-evolution, python-vobject
Provides: ${python:Provides}
Description: Collection of GNOME specific plugins for Gnome15.
 This package contains plugins that will only work when
 running on the GNOME desktop. Includes an Evolution calendar plugin, 
 Indicator Me, Indicator Messages and POP/IMAP email notification.

Package: gnome15-ubuntu-plugins
Architecture: all
Depends: ${misc:Depends}, ${python:Depends}, gnome15, python-gnome2
Provides: ${python:Provides}
Description: Collection of Ubuntu specific plugins for Gnome15.
 This package contains plugins that will only work when
 running on Ubuntu Linux. Includes Indicator Me and Indicator Messages.