Source: lgsetled
Section: utils
Priority: extra
Maintainer: Brett Smith <tanktarta@blueyonder.co.uk>
Build-Depends: debhelper (>= 7.0.50~), autotools-dev
Standards-Version: 3.8.4
Homepage: http://www.tanktarta.pwp.blueyonder.co.uk/gnome15/

Package: lgsetled
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Set LED brightness on Logitech G keyboards
 A simple utility to set the values of various LED devices
 available when the Logitech G Keyboard kernel driver is
 being used. The utility runs as SETUID and is a simple
 front end to files available in /sys/class/leds.
