# This file maintains permissions for Gnome15 input devices
#

SUBSYSTEM=="input", RUN+="/sbin/modprobe uinput"
KERNEL=="event*|uinput", GROUP="plugdev", MODE="0660"
