Source: gnome15-gnome-plugins
Section: gnome
Priority: optional
Maintainer: Brett Smith <tanktarta@blueyonder.co.uk>
Build-Depends: cdbs (>=0.4.73), debhelper (>= 7), autotools-dev, python-support, gnome15, python-gnome2, python-gnomekeyring
Standards-Version: 3.8.4
Homepage: http://www.tanktarta.pwp.blueyonder.co.uk/gnome15/

Package: gnome15-gnome-plugins
Architecture: any
Depends: ${misc:Depends}, ${python:Depends}, gnome15, python-gnomekeyring, python-appindicator, python-gnome2, python-evolution, python-vobject
Provides: ${python:Provides}
Description: Collection of GNOME specific plugins for Gnome15.
 This package contains plugins that will only work when
 running on the GNOME desktop. Includes an Evolution calendar plugin, 
 Indicator Me, Indicator Messages, POP/IMAP email notification and
 Screensaver integration.
