Source: gnome15-iconpack
Section: gnome
Priority: optional
Maintainer: Brett Smith <tanktarta@blueyonder.co.uk>
Build-Depends: cdbs, debhelper (>= 7), autotools-dev
Standards-Version: 3.8.4
Homepage: http://www.tanktarta.pwp.blueyonder.co.uk/gnome15/

Package: gnome15-awoken-icons
Architecture: all
Depends: ${python:Depends}, gnome15, awoken-icon-theme
Description: AwOken icons for Gnome15
 Provides AwOken style icons for Gnome15. A PPA is 
 available for this theme at ppa:alecive/antigone

Package: gnome15-elementary-icons
Architecture: all
Depends: ${python:Depends}, gnome15, elementary-icon-theme
Description: Elementary icons for Gnome15
 Provides Elementary style icons for Gnome15.

Package: gnome15-mono-icons
Architecture: all
Depends: ${python:Depends}, gnome15, ubuntu-mono
Description: Mono icons for Gnome15
 Provides Mono style icons for Gnome15.

Package: gnome15-accessibility-icons
Architecture: all
Depends: ${python:Depends}, gnome15, gnome-accessibility-themes
Description: Accessibility icons for Gnome15
 Provides Accessibility style icons for Gnome15.